* {
    box-sizing: border-box;
}
body {
    margin: 0;
    //background: #ffffb3;
	background:white;
    max-width:1366px;
}
.header {
    font-family: 'Architects Daughter';
    font-size: 22px;
    /*background: #ffffff;
    background: linear-gradient(top, #ffffff 0%, #ffff33 100%);
    background: -moz-linear-gradient(top, #ffffff 0%, #ffff33 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffff33 100%);
	*/
	background:white;
    color: #ff6600;
}
.header img {
  /*width: auto;
  height: 147px;
  padding-left: 50px;
  padding-top: 10px;
  */
  max-width:1349px;
  height:300px;
}
.box{
    position: absolute;
    float: left;
    top: 7px;
    padding-left:50px;
}
.footer {
    background-color: #444;
    color: white;
    padding: 15px;
}
.topmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:  #339900;
    background: linear-gradient(top,  #339900 20%,  #226600 80%);
    background: -moz-linear-gradient(top,  #339900 20%,  #226600 80%);
    background: -webkit-linear-gradient(top,  #339900 20%, #226600 80%);
}
.topmenu li {
    float: right;
}
.topmenu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.topmenu li a:hover {
    background: #226600;
    background: linear-gradient(top, #226600 0%,  #194d00 40%);
    background: -moz-linear-gradient(top, #226600 0%,   #194d00 40%);
    background: -webkit-linear-gradient(top, #226600 0%,  #194d00 40%);
}

.title{
    position: absolute;
    font-size: 70px;
    padding: 60px;
    margin-left: 100px;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}
nav ul {
    margin: 0;
    background:  #339900;
    background: linear-gradient(top,  #339900 20%,  #226600 80%);
    background: -moz-linear-gradient(top,  #339900 20%,  #226600 80%);
    background: -webkit-linear-gradient(top,  #339900 20%, #226600 80%);
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    list-style: none;
    position: relative;
}
nav ul:after {
        content: ""; clear: both; display: block;
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background: #226600;
    background: linear-gradient(top, #226600 0%,  #194d00 40%);
    background: -moz-linear-gradient(top, #226600 0%,   #194d00 40%);
    background: -webkit-linear-gradient(top, #226600 0%,  #194d00 40%);
}
nav ul li:hover a {
      color: white;
}

nav ul li a {
    display: block; padding: 25px 40px;
    color: white; text-decoration: none;
}
nav ul ul {
    background: ; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
    color:white;
    z-index: 99
}
nav ul ul li {
    float: none;
    border-top: 1px solid #194d00;
    border-bottom: 1px solid white;
    position: relative;
}
nav ul ul li a {
    padding: 15px 40px;
    color: white;
}
nav ul ul li a:hover {
    background:  #194d00;
}
nav ul ul ul {
    position: absolute; left: 100%; top:0;
    z-index: 99
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 230px;
  height: 20px;
  background-color: white;
  background-image: url('searchicon.png');
  border: none;
  font-size: 10pt;
  float: left;
  color: white;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
.slideshow {
  width: 1349px;
  height: 300px;
  overflow: hidden;
  z-index: -99
  /*border: solid 1px white;*/
}

.slideshow-container {
  width: 2000px;
  font-size: 0;
  transition: 1s ease;
}

.slideshow-container:hover {
  animation-play-state: paused;
}

.slide {
  animation: slide 24s ease infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  12.5% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-25%);
  }

  37.5% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
}


.titluProduse {
    margin: 0;
    padding-top:20px;
    background:  #f2f2f2;
    height:70px;
    font-size:20px;
    text-align: center;
}
#container {
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
}

#container figure {
  margin: 0;
  max-width: 33%;
}

#container figure img {
  display: block;
  max-width: 100%;
  height: auto;
}
.info {
  font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
  font-size:12px;
  padding-left: 50px;
  color:white;
  text-align:justify;
  overflow: hidden;
  background:  #339900;
  background: linear-gradient(top,  #339900 20%,  #226600 80%);
  background: -moz-linear-gradient(top,  #339900 20%,  #226600 80%);
  background: -webkit-linear-gradient(top,  #339900 20%, #226600 80%);
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.info h2 {
  text-align: center;
}
/*
.image:after, .image:before {
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;

}
.image:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    background:#339900;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.image:hover:after, .image:hover:before {
    opacity:1;
}
*/